html, body {
  margin: 0;
  padding: 0;
  font-family: Lato,sans-sans-serif;

}

#picture {
height: 370px;
background-image: url("pai.jpg");
background-repeat: no-repeat;
background-position: center;
 background-attachment: cover;
}

#navBar {
  height: 100px;
  background-color: bg-info;
}

#profile{
  height: 150px;
  width: 150px;
  background: red;
  border-radius: 100px;
  background-image: url("logo.jpg");

  background-position: center;
  background-size: cover;
  position: relative;
  top: -100px;

  z-index: 3000;

}

#newNewsage {
padding: 100px;
height: 300px;
overflow-y: auto;
}

#mainContent {
  background: lightpink;
  height: 100vh;
  display: grid;
  /* set sidebar for 200px and the rest is taking all the rest*/
  /* grid-template-columns: 1fr 4fr; */
  grid-template-columns: 1fr 4fr;
  padding: 10px;
}
