
#mainContent {
height: 100vh;
background: #fafafa;
width: auto;

}
#sidebar {
  width: fluid;
  position: relative;
  top: 50px;
  padding: 10px;
  margin-left: 20px;

}
#mainMessageBox {
  width: 180px;
  position: relative;
  border: 20px;
  border-color: grey;
  top: -200;
  left: 300;

}

#messageBox {
padding: 20px;
border: 10px;
height: calc(100vh - 80px);

  }

#newMessage {

background-color: pink;
padding: 50px;
height: 300px;

}
