
  #content {
	background: #f8f8f8;
	display: grid;
	grid-template-rows: auto 80px;
}

#content #messages {
	padding: 20px;
	height: calc(100vh - 80px);
	overflow-y: auto;
}


  #newNewsage {

	padding: 100px;
	height: 300px;
	overflow-y: auto;
  }
