#mainMessageBox {
  background-color: pink;
  width: 100vw - 300px;


}
.message {
  border-radius: 5px;
  border: solid 1px grey;
  background-color: white;
  padding: 10px;
  width: 300px;
}

/* #messageBox {
padding: 20px;
height: calc(100vh - 80px);

  } */

#newMessage {
background-color: ;
padding: 50px;
height: 300px;

}
